.line {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 50px 0;
}

.text {
  font-size: 64px;
  display: inline-block;
  padding: 0 5px 5px;
  color: black;
}

.clients__cont {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 100px;
  margin: 0 auto 50px;
}
